* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h3 {
  color: orangered;
}

span {
  color: white;
}

div {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lightgray;
}

#logo {
  position: relative;
  right: 17%;
  width: 200px;
  height: 40px;
}

.fas {
  font-size: 1.6rem;
  color: white;
}

.header_main {
  background-color: rgb(34, 34, 37);
  width: 100%;
  position: fixed;
  height: 10vh;
  z-index: 10000;
  flex-basis: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/*  menu burger  */

.overlay {
  display: none;
}

.overlay a {
  display: none;
}

.burger {
  display: none;
}

.overlay-content {
  display: none;
}

#burg {
  display: none;
}

#burg img {
  display: none;
}

#burg input {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 400px;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  right: 180px;

}

/* SEARCH BAR */

.searchBar {
  background-color: rgb(57, 57, 60);
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
  margin-right: 20px;
}

.searchBar:focus {
  outline: 0;
}

.btnSearch {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 60px;
  top: 5px;
  width: 10px;
}

.btnSearch .fas {
  width: 10px;
  color: white;
}

/* FIN SEARCH BAR */

/* BOUTON COMPTE */
.dropbtn {
  min-width: 100px;
  min-height: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 100;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button.dropbtn::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(100px + 12px);
  min-height: calc(30px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button.dropbtn:hover,
.button.dropbtn:focus {
  color: #313133;
  transform: translateY(-6px);
}

button.dropbtn:hover::before,
button.dropbtn:focus::before {
  opacity: 1;
}

button.dropbtn:hover::after,
button.dropbtn:focus::after {
  animation: none;
  display: none;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropbtnDeconnecting {
  min-width: 100px;
  min-height: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 100;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  bottom: 10px;
}

button.dropbtnDeconnecting::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(120px + 12px);
  min-height: calc(30px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

button.dropbtnDeconnecting:hover::before,
button.dropbtnDeconnecting:focus::before {
  opacity: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
  margin: 20px;
}


.dropdown-content {
  margin-left: -150px;
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.show {
  display: block;
}

#avatar {
  width: 40px;
  border-radius: 50%;
  background-color: beige;
  position: relative;
  top: 8px;
}

/* FIN BOUTON COMPTE */

.main {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  min-width: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(34, 34, 37);
}



.sidebar li {
  margin: 50px;
  display: flex;
  flex-direction: column;
  color: orange;
}

.sidebar li:hover {
  color: white;
  transition: 0.3s all linear;
  transform: scale(1.1);
}

.sidebar ul {
  position: fixed;
  margin-top: 150px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .fas {
  font-size: 1.6rem;
}

.bx {
  font-size: 1.6rem;
}

.provider {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-top: 1px solid rgb(76, 75, 75);
}

.provider .provider-heading {
  margin-top: 30px;
}

.provider img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.iconeProvider,
.iconeProviderrent,
.iconeProviderbuy {
  display: flex;
  flex-wrap: wrap;
}

.mainContent {
  background-color: rgb(34, 34, 37);
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: 70px;
}

#prev,
#next {
  display: none;
}

.heart-like-button {
  display: flex;
  justify-content: flex-start;
  position: relative;
  bottom: 260px;
  left: 18px;
}

.btn_ajout .heart-like-button .bxs-bookmark-plus {
  font-size: 1.5rem;
  color: white;
  filter: opacity(80%);
}

.btn_ajout .heart-like-button .bxs-bell-plus {
  color: white;
  font-size: 1.5rem;
  filter: opacity(80%);
}

.btn_ajout a {
  text-decoration: none;
  color: #00FFCB;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  z-index: 2;
}

/* CAROUSEL */
#wrapper {
  width: 100%;
  height: 620px;
}

#wrapperCast,
#wrapperProduct {
  width: 90%;
  max-width: 920px;
  position: relative;
}

.videoCarousel {
  margin-top: 30px;
  border-top: 1px solid rgb(76, 75, 75);
}

.videoCarousel h2,
.swipeButton_video {
  position: relative;
  bottom: 5px;
  margin-top: 30px;
}

#wrapperVideo {
  width: 100%;
  max-width: 600px;
  position: relative;
}


#carouselCast,
#carouselProduct {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
}

#carouselVideo {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
}


#carouselCast::-webkit-scrollbar,
#carouselProduct::-webkit-scrollbar {
  height: 0;
}

#carouselVideo::-webkit-scrollbar {
  height: 0;
}

#contentCast,
#contentProduct {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  grid-auto-flow: column;
  box-sizing: border-box;
  width: 90%;
  height: 100%;
}

#contentVideo {
  display: flex;
  align-items: center;
  grid-gap: 1px;
  grid-auto-flow: column;
  box-sizing: border-box;
  width: 90%;
  height: 100%;
}

.iframe-container {
  width: 100%;
  height: 100%;
}

.slide-video {
  height: 300px;
  position: relative;
  padding: auto;
}

.slide-video iframe {
  width: 600px;
  object-fit: cover;
  box-sizing: border-box;
}

.item {
  width: 300px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.slidePoster-img .itemPoster {
  width: 300px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  -webkit-box-shadow: -2px -2px 195px 186px rgba(0, 0, 0, 1);
  -moz-box-shadow: -2px -2px 195px 86px rgba(0, 0, 0, 1);
  box-shadow: -2px -2px 305px 300px rgb(0 0 0);
  border-radius: 20px;
}

.slideBackdrop-img img {
  
  width: 65%;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  filter: brightness(25%) blur(0px);
  box-shadow: 50px 0px 25px -1px #000000;
  margin: 0 auto;
}

.slideBackdrop-img {
  height: 1000px;
  background-size: cover;
}

.slidePoster-img {
  height: 500px;
  position: relative;
  width: 60%;
  background-size: contain;
}

.itemCast {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.itemVideo-a {
  width: 600px;
}

.item-b {
  margin: 5px;
}

h2 {
  color: orangered;
}

.titleSwiper {
  display: flex;
  justify-content: space-between;
}

.slide-img {
  height: 200px;
  position: relative;
  width: 100%;
  background-size: contain;
}

.profile {
  display: flex;
}

#autoWidth.cs-hidden {
  display: flex;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.box {
  background-size: cover;
  overflow: hidden;
}

.boxVideo {
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.boxPoster {
  width: 100%;
  position: relative;
  bottom: 1000px;
  overflow: hidden;
}

.slideCast-img {
  position: relative;
  padding: auto;
}

.slideCast-img img {
  width: 150px;
  object-fit: cover;
  box-sizing: border-box;
  height: 90%;
}

.prod_reac {
  display: flex;
  margin-bottom: 20px;
}

.prod_reac img {
  width: 130px;
  height: 200px;
  margin-right: 10px;
}

.detailCast-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.typeCast {
  display: flex;
  flex-direction: column;
  background-color: #d2d1d1;
}

/* ---------------FIN CAROUSEL-------------- */

.title {
  color: #00FFCB;
  position: relative;
  bottom: 250px;
  left: 20px;
  font-size: 1.6rem;
  z-index: 2;
}

.season_final {
  color: red;
  position: relative;
  bottom: 250px;
  left: 20px;
  font-size: 1.6rem;
  z-index: 2;
}

.dateSortie {
  position: relative;
  bottom: 235px;
  left: 20px;
  font-size: 1rem;
  z-index: 2;
  width: 50%;
  color: orange;
}

.all_seasons {
  position: relative;
  bottom: 160px;
  left: 20px;
  font-size: 1rem;
  z-index: 2;
  width: 50%;
  color: rgb(0, 221, 255);
  text-decoration: none;
}

.voteAverageImdb {
  color: white;
  position: relative;
  bottom: 220px;
  left: 78px;
  font-size: 1rem;
  z-index: 2;
}

.logoAverage {
  position: relative;
  top: 5px;
  right: 105px;
  z-index: 2;
  width: 50px;
}

.pays {
  position: relative;
  bottom: 190px;
  left: 20px;
  font-size: 1.2rem;
  z-index: 2;
  color: orange;
  width: 70%;
}

.pays_bis {
  color: orange;

}

.genreID {
  position: relative;
  bottom: 190px;
  left: 20px;
  font-size: 1.2rem;
  z-index: 2;
  color: orange;
  width: 70%;
}

.BA {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  bottom: 240px;
  left: 450px;
  font-size: 1.2rem;
  z-index: 2;
  width: 90%;
}

.BA_bis {
  display: none;
  position: relative;
  font-size: 1.2rem;
  width: 90%;
}

.lienBA {
  text-decoration: none;
  position: relative;
  bottom: 35px;
  left: 10px;
  font-size: 1.2rem;
  z-index: 2;
}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  filter: brightness(0.8);
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.type {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  max-height: 500px;
}

.type a {
  color: #222222;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.type span {
  color: rgba(26, 26, 26, 0.5);
}

.overlaySlider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(56, 119, 145, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.love-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
}

.love-btn:hover {
  color: white;
  background-color: palevioletred;
  transition: all ease 0.3s;
}

.overlaySlider {
  visibility: hidden;
}

.slide-img:hover .overlaySlider {
  visibility: visible;
  animation: fade 0.5s;
}

.swiper {
  display: flex;
}

.swiper-next,
.swiper-prev {
  position: static !important;
  margin: 0 0 0 10px !important;
}

.swiper-next::after,
.swiper-prev::after {
  color: white;
  font-size: 18 px !important;
  font-weight: 700;
}

.swipeButton {
  margin-left: 20px;
  position: relative;
  bottom: 5px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#resume {
  width: 90%;
  position: relative;
  display: none;
  bottom: -10px;

}

#read,
#read_bis {
  display: none;
}

/* .comment_user {
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;

} */

#resume p {
  width: 90%;
}

#resume_bis {
  width: 60%;
  position: relative;
  left: 20px;
  bottom: 150px;
}

#resume_bis h2 {
  font-size: 1.2rem;
}

#resume_bis p {
  width: 90%;
  font-size: 1rem;
}



/* -------------VOTE SPECTATEUR------------ */

.vote {
  width: 400px;
  border: 1px solid #e0dede;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(76, 76, 76);
  margin: 10px;
}

.fa-star {
  cursor: pointer
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  height: 18px;
  background-color: #4CAF50;
  transition: .33s
}

.bar-4 {
  height: 18px;
  background-color: #2196F3;
  transition: .33s
}

.bar-3 {
  height: 18px;
  background-color: #00bcd4;
  transition: .33s
}

.bar-2 {
  height: 18px;
  background-color: #ff9800;
  transition: .33s
}

.bar-1 {
  height: 18px;
  background-color: #f44336;
  transition: .33s
}

@media (max-width: 400px) {

  .side,
  .middle {
    width: 100%;
  }

  .right {
    display: none;
  }
}

/* ------------------------FIN VOTES------------------------------------- */

.episode,
.epAct,
.epNext {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.epAct p {
  color: rgb(153, 153, 153);
  width: 90%;
}

.epNext {
  color: red;
}

.episode h5 {
  color: #00bcd4;
  font-size: 1.5rem;
}

.episode h6 {
  color: orange;
  font-size: 1.1rem;
}

/* -----------------------------COMMENT---------------------------------- */

.crt {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.comment {
  width: 400px;
  border: 1px solid #e0dede;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(76, 76, 76);
  position: relative;
  top: 80px;
}

.critique {
  display: flex;
  flex-direction: column;
}

#feedbackHere {
  border: 1px solid #e0dede;
}

form input {
  flex: 1;
  margin-right: 15px;
}

.title_comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnComment {
  background-color: rgb(31, 26, 122);
  font-size: bold;
  color: white;
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;
  margin: 0 3px;
  cursor: pointer;
}

#listAll {
  width: 400px;
  border-bottom: 1px ridge #e0dede;
  box-shadow: 0px 16px 17px -1px rgba(255, 255, 255, 0.34);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  top: 90px;


  overflow: auto;
  margin-top: 10px;
}

.co {
  width: 20px;
}



#listAll h4 {
  color: black;
}

.comment_user {
  margin-top: 20px;
  width: 20px;
}

.liComment {
  /* box-shadow: 0 0 5px rgb(133, 17, 17); */
  background-color: rgb(199, 193, 193);
  margin: 30px;
}

.form-control {
  padding: 8px 105px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

#feedbackHere {
  padding: 8px 110px;
}

li input {
  flex: 1;
}

p {
  margin: 0;
}

li p {
  flex: 1;
}

li .todo.done {
  background-color: #333;
}

.err {
  color: red;
}

.choice button {
  width: 110px;
  background-color: lightgreen;
  color: black;
}

/* --------------------------------------FIN COMMENT-------------------------------- */

.notes {
  padding: 0.125rem 0.5rem;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 0.8rem;
  bottom: 117px;
  left: 200px;
  min-height: 3.125rem;
  padding: 10px;
  max-width: 230px;
}

.fa-star {
  font-size: 0.9rem;
}

.noteResume {
  display: flex;
  flex-wrap: wrap;
}

.checked {
  color: orange;
}

/* overlayVideo  */

.video .bx {
  color: orange;
  font-size: 3.6rem;
}

.overlayVideo i {
  color: white;
  margin: 0 auto;
}

.video {
  display: none;
  position: relative;
  flex-direction: column;
  top: 30px;
  width: 90%;
}

.video a {
  width: 90%;
}

.video .bx {
  font-size: 5rem;
}

.video i {
  margin: 5px auto;
  margin-left: 15px;
  position: relative;
  top: 50px;
}

i {
  color: white;
}

.overlayVideo {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(37, 39, 40, 0.9);
  overflow: hidden;
}

iframe {
  width: 1735px;
  height: 850px;
}

#video-content {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  grid-auto-flow: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.overlayVideo-content li {
  display: flex;
  flex-direction: column;
}

.overlayVideo a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #100202;
  display: block;
  transition: 0.3s;
  color: white;
}

.overlayVideo a:hover,
.overlayVideo a:focus {
  color: #f1f1f1;
}

.overlayVideo .closebtnVideo {
  position: absolute;
  top: 80px;
  left: 125px;
  font-size: 60px;
  color: white;
  z-index: 15;
}

.overlayVideo {
  display: block;
}

li {
  list-style-type: none;
}

/* FIN Video */

.likeBar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 20, 24);
  color: #00FFCB;
  position: fixed;
  width: 100%;
  height: 12vh;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(34, 34, 37);
  color: #00FFCB;
  height: 35vh;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  /* border-top: 1px solid rgb(182, 181, 181); */
}

.header_footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.header_footer a {

  margin: 2px;
}

.menu_footer {
  display: flex;

}

.menu_footer ul li {
  margin: 5px;
}


.footer a:hover {
  color: white;
  transition: 0.3s all linear;
  transform: scale(1.1);
}

.menu_footer li:hover {
  color: white;
  transition: 0.3s all linear;
  transform: scale(1.1);
}

.bxs-chevrons-up {
  border-radius: 50%;
  color: orange;
  font-size: 3rem;
  background-color: rgb(99, 101, 101);
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 100px;
  right: 50%;
}

#scroll_to_top a,
.footer a {
  color: orange;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
}

.bxs-chevrons-up:hover {
  background-color: white;
  transition: 0.3s all linear;
  transform: scale(1.3);
}

/* menu burger */

#menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* right: 150px;
  top: -20px; */
}



.nav_sidebar {
  position: absolute;
  overflow: hidden;
  top: 50px;
}

#menu ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;

  transform: translateX(-180px);
  border-radius: 0 5px 5px 0;
  transition: 0.5s;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu li {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: rgb(34, 34, 37);
  color: #000;
  left: 90px;
  opacity: 0.9;
  padding: 20%
}

#menu i:hover {
  color: orange;
  transition: 0.3s all linear;
  transform: scale(1.1);
}



#menu li a {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  padding: 50px;
  width: 100%;
}

#menu input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

#menu input {
  /* display: block; */
  width: 35px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  opacity: 0;

  z-index: 2;

  top: 2px;
  -webkit-touch-callout: none;
}

#button-burger {
  display: block;
  width: 33px;
  height: 4px;
  position: absolute;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  /* top: 20px; */
  transition: width 0.3s, background-color 0.3s;
}

#button-burger::before {
  content: "";
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  top: -11px;
  transition: 0.3s;
}

#button-burger::after {
  content: "";
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  top: 7px;
  transition: 0.3s;
}

#menu input:checked+#button-burger {
  background-color: #fff;
  width: 0;
  transition: width 0.3s 0.1s, background-color 0.3s;
}

#menu input:checked+#button-burger:before {
  transform: translatey(11px) rotate(45deg);
}

#menu input:checked+#button-burger:after {
  transform: translatey(-11px) rotate(-45deg);
}

#menu input:checked~nav ul {
  transform: none;
  opacity: 1;
  transition: transform 0.5s;
}

/* FIN MENU BURGER */