* {
  margin: 0;
  padding: 0;
}





li {
  list-style-type: none;
}

h3 {
  color: orange;

}

span {
  color: white;
}

div {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lightgray;
}

#logo {
  width: 200px;
  height: 40px;
}

.fas {
  font-size: 1.6rem;
  color: white;
}

.header_main {

  background-color: rgb(34, 34, 37);
  width: 100%;
  position: fixed;
  height: 10vh;
  z-index: 100;
  flex-basis: 70px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header {


  width: 90%;
  position: fixed;
  height: 10vh;
  z-index: 100;
  flex-basis: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: white;
  width: 50px;
  text-align: center;
}




/*  menu burger  */



.overlay {
  display: none;
}

.overlay a {
  display: none;
}

.burger {
  display: none;
  /* margin-right: 38px;
  cursor: pointer; */

}



.overlay-content {
  display: none;
}

#burg {
  display: none;
}

#burg img {
  display: none;
}

#burg input {
  display: none;
}


/* Fin menu burger  */
/* #logo {
  margin-left: 50px;
} */

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 400px;

  /* margin-left: 250px; */
}


.search {
  background-color: rgb(57, 57, 60);
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
  margin-right: 20px;
}

.search:focus {
  outline: 0;
  /* background-color: var(--primary-color); */

}

.search::placeholder {
  color: #7378c5;

}

/* BOUTON COMPTE */
.dropbtn {
  min-width: 100px;
  min-height: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 100;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

/* .dropdown button {

  margin-bottom: 22px;
  
} */

button.dropbtn::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(100px + 12px);
  min-height: calc(30px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button.dropbtn:hover,
.button.dropbtn:focus {
  color: #313133;
  transform: translateY(-6px);
}

button.dropbtn:hover::before,
button.dropbtn:focus::before {
  opacity: 1;
}



button.dropbtn:hover::after,
button.dropbtn:focus::after {
  animation: none;
  display: none;
}


.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {

  /* margin-right: 15px; */

  position: relative;
  display: inline-block;

}

.dropdown-content {
  margin-left: -150px;
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.show {
  display: block;
}

/* FIN BOUTON COMPTE */

.main {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;

}

.sidebar {
  min-width: 13%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(34, 34, 37);
  /* 
  ;
 height: 100%; */
  /* width: 140px; */
}

.sidebar li {
  margin: 50px;
  display: flex;
  flex-direction: column;
  color: orange;

}

.sidebar li:hover {
  color: white;
  transition: 0.3s all linear;
  transform: scale(1.1);
}

.sidebar ul {
  position: fixed;
  margin-top: 12%;
}



.sidebar a {
  text-decoration: none;
}

.sidebar .fas {
  font-size: 1.6rem;

}

.sidebar .bx {
  font-size: 1.6rem;

}

.sidebar i {
  margin-left: 22px;
}




.mainContent {
  background-color: rgb(34, 34, 37);
  /* margin: auto; */
  /* flex: auto; */
  display: flex;
  /* flex-wrap: wrap; */
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
}


/* CAROUSEL */



#wrapperCast {
  width: 90%;
  max-width: 920px;
  position: relative;

}



#carouselCast {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* margin-top: 90px; */
  width: 100%;

}


#carouselCast::-webkit-scrollbar {
  height: 0;
}



.boxCast {
  width: 150px;
}

#contentCast {
  display: flex;
  align-items: center;
  /* display: grid; */
  grid-gap: 5px;
  grid-auto-flow: column;
  /* margin: auto; */
  box-sizing: border-box;
  width: 90%;
  height: 100%;
}





.slideCast-img {
  /* height: 100%; */

  position: relative;
  padding: auto;

}

.slideCast-img img {
  width: 150px;


  object-fit: cover;
  box-sizing: border-box;

}





.detailCast-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;




}

.typeCast {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  background-color: #d2d1d1;
  /* transform: translateY(101%);
  transition: transform 0.3s ease-in; */


}

#wrapperVideo {
  /* width: 100%; */
  max-width: 164px;
  position: relative;

}



#carouselVideo {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* margin-left: 100px; */
  width: 100%;

}


#carouselVideo::-webkit-scrollbar {
  height: 0;
}





#contentVideo {
  display: flex;
  align-items: center;
  /* display: grid; */
  grid-gap: 15px;
  grid-auto-flow: column;
  /* margin: auto; */
  box-sizing: border-box;
  width: 90%;
  height: 100%;

}


.item {
  width: 300px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  position: relative;


}

.itemCast {
  width: 300px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.item-a {
  width: 100%;
  height: 100%;
  min-height: 10px;

}





#nextVideo {
  position: absolute;
  left: 70%;
  top: 45%;
}

#prevVideo {
  position: absolute;
  right: 90%;
  top: 45%;
}



/* TOP 10 */


/* #slider-text {
display: flex;
flex-wrap: wrap;
} */

/* #slider-text .col-md-6 {
  overflow: hidden;
} */

#slider-text h2 {

  color: orange;


}

.titleSwiper {
  display: flex;
  justify-content: space-between;
}

#slider-text i {
  /* position: static !important;
  margin: 0 0 0 10px !important; */
}


/* #slider-text h2::after {
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom:630px;
  width: 20%;
} */


.box {
  width: 90%;

  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
  overflow: hidden;

  /* margin: 5px; */

}





#autoWidth.cs-hidden {
  display: flex;
  width: 100%;
  /* display: grid;
  
  grid-gap: 5px;
  grid-auto-flow: column; */
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;


}

/* div {
  background-image: url(http://127.0.0.1:5500/TP/Cine-Star/image/AP4.jpg);
  background-size: contain;
  box-shadow: inset 30px 30px 100px 10px #000000;
} */

.slide-img {
  height: 100%;
  position: relative;
  width: 100%;
  background-size: contain;
  box-shadow: inset 30px 30px 100px 10px #000000;

}





.title {
  color: white;
  position: relative;
  bottom: 250px;
  left: 20px;
  /* right: 30px; */
  font-size: 1.6rem;
  z-index: 2;
  width: 50%;
}

.voteAverageImdb {
  color: white;
  position: relative;
  bottom: 240px;
  left: 75px;
  font-size: 1rem;
  z-index: 2;
  width: 50%;

}

.logoAverage {
  position: relative;
  width: 100%;
  top: 5px;
  right: 115px;
  z-index: 2;
  width: 50px;

}

.genreID {
  width: 50%;
  position: relative;
  bottom: 200px;
  left: 20px;
  font-size: 1.2rem;
  z-index: 2;

}



.BA {

  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  flex-direction: column;
  position: relative;
  bottom: 165px;
  left: 10px;
  font-size: 1.2rem;
  z-index: 2;

  width: 98%;

}

.lienBA {
  text-decoration: none;

  position: relative;
  bottom: 15px;
  left: 10px;
  font-size: 1.2rem;
  z-index: 2;

  width: 50%;

}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  filter: brightness(0.8);

}

/* .poster {
  display: flex;
  position: absolute;
  top: 600px;
  left: 100px;
  z-index: 2;
  width: 300px;
  height: 400px;
}

.poster img {
  width: 100%;
  height: 100%;

} */

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;



}

.type {
  display: flex;
  flex-direction: column;
  background-color: #d2d1d1;
  width: 100%;
  max-height: 500px;
}

.type a {
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;


}


.type span {
  padding: 0 10px;
  color: rgba(26, 26, 26, 0.5);
}

/* .price {
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
} */

.overlaySlider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(56, 119, 145, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.love-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
}

.love-btn:hover {
  color: white;
  background-color: palevioletred;
  transition: all ease 0.3s;
}

.overlaySlider {
  visibility: hidden;
}

.slide-img:hover .overlaySlider {
  visibility: visible;
  animation: fade 0.5s;
}

.swiper {
  display: flex;

}

.swiper-next,
.swiper-prev {
  position: static !important;
  margin: 0 0 0 10px !important;
}

.swiper-next::after,
.swiper-prev::after {
  color: white;
  font-size: 18 px !important;
  font-weight: 700;
}

.swipeButton {
  /* display: none; */
}





@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* FIN TOP 10 */
#resume {
  width: 80%;
  position: relative;

  bottom: -10px;
}

#resume p {
  width: 90%;
  /* margin: 10px; */
}




.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 24);
  color: #00FFCB;

  width: 100%;
  height: 12vh;
  z-index: 2000;
}

/* FAVORITES */

.heartbox {
  /* position: absolute; */
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%)
}

svg {
  cursor: pointer;
  overflow: visible;
  width: 40px;
  margin-right: -25px;
  margin-bottom: -20px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked+label svg #heart {
  transform: scale(0.2);
  fill: #E2264D;
  animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1;
}


/* .detail-boxHeart {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
} */



@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }

  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }

  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }

  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }

  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }

  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }

  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}



/* FIN FAVORITES */

/* -------------VOTE SPECTATEUR------------ */

.vote {
  width: 400px;
  border: 1px solid #e0dede;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(76, 76, 76);
  margin: 10px;
}

.fa-star {
  cursor: pointer
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  height: 18px;
  background-color: #4CAF50;
  transition: .33s
}

.bar-4 {
  height: 18px;
  background-color: #2196F3;
  transition: .33s
}

.bar-3 {
  height: 18px;
  background-color: #00bcd4;
  transition: .33s
}

.bar-2 {
  height: 18px;
  background-color: #ff9800;
  transition: .33s
}

.bar-1 {
  height: 18px;
  background-color: #f44336;
  transition: .33s
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {

  .side,
  .middle {
    width: 100%;
  }

  .right {
    display: none;
  }
}

/* ------------------------FIN VOTES------------------------------------- */

/* -----------------------------COMMENT---------------------------------- */


.comment {
  width: 400px;
  border: 1px solid #e0dede;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(76, 76, 76);
  margin: 10px;

}

.critique {
  display: flex;
  flex-direction: column;
  margin: 10px;


}

#feedbackHere {
  border: 1px solid #e0dede;
}

form {

  display: flex;
  flex-direction: column;
}

form input {
  flex: 1;
  margin-right: 15px;
}

.btnComment {
  background-color: rgb(31, 26, 122);
  font-size: bold;
  color: white;
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;
  margin: 0 3px;
  cursor: pointer;
}

#listAll {

  width: 400px;
  border: 1px solid #e0dede;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: rgb(226, 222, 222);
}

#listAll h4 {

  color: black;
}

.liComment {
  box-shadow: 0 0 5px rgb(133, 17, 17);
  background-color: rgb(199, 193, 193);
  margin: 30px;
}

.form-control {
  padding: 8px 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* ul {
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  padding:10px 0px
} */

li input {
  flex: 1;
}

p {
  margin: 0;
}

li p {
  flex: 1;
}

li .todo {
  flex: 0 0 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 15px;
  border: 2px solid #333;
}

li .todo.done {
  background-color: #333;
}

.err {
  color: red;
}



.choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 460px;
}

.choice button {
  width: 110px;
  background-color: lightgreen;
  color: black;
}


/* --------------------------------------FIN COMMENT-------------------------------- */




.notes {
  padding: 0.125rem 0.5rem;
  display: flex;
  /* position: relative; */
  align-items: center;
  font-size: 0.8rem;

  text-align: center;
  min-height: 3.125rem;
  /* background: transparent; */
  padding: 10px;
  padding-left: 10px;
  bottom: 15px;
  max-width: 230px;


}

.noteResume {
  display: flex;
  flex-wrap: wrap;
}

.checked {
  color: orange;
}


/* overlayVideo  */

.video .bx {
  color: orange;
  font-size: 3.6rem;

}

.overlayVideo i {
  color: white;
  margin: 0 auto;
}




.video {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50px;
  width: 90%;

}

.video a {
  width: 90%;
}


.video .bx {

  font-size: 5rem;

}


i {
  margin: 5px auto;
  margin-left: 15px;
}

.overlayVideo {

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(37, 39, 40, 0.9);
  overflow: hidden;


}

.overlayVideo-content {
  position: relative;
  /* top: 10%; */
  width: 100%;
  text-align: center;
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-left: 180px;
  margin-top: 42px;

  /* max-width: 1305px; */

}

iframe {
  width: 1735px;
  height: 850px;
}

#video-content {
  display: flex;
  align-items: center;
  /* display: grid; */
  grid-gap: 5px;
  grid-auto-flow: column;
  /* margin: auto; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.overlayVideo-content li {
  display: flex;
  flex-direction: column;

}

.overlayVideo a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #100202;
  display: block;
  transition: 0.3s;
  color: white;
}

.overlayVideo a:hover,
.overlayVideo a:focus {
  color: #f1f1f1;
}

.overlayVideo .closebtnVideo {
  position: absolute;
  top: 150px;
  right: 25px;
  font-size: 60px;
  color: white;
  z-index: 15;
}

.overlayVideo {
  display: block;
}

li {
  list-style-type: none;
}



/* Video */

@media (max-width=1920px) {
  /* iframe {
    width: 1629px;
    height: 634px;
  } */
}