* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;

  /* flex-direction: column; */
  min-height: 100vh;
  background-color: rgb(229, 233, 233);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  margin-top: 130px;
  max-width: 100%;

  width: 100%;
}

.mainContent {
  width: 100%;
}

.sidebar {
  display: none;
}

.player {
  position: absolute;
  z-index: 2;
  /* background: transparent; */
  right: 200px;
  bottom: 150px;
  color: white;
}

/* menu burger  */

.burger .fas {
  color: orange;

}

.overlay i {
  color: white;
  margin: 0 auto;
}

#burg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#compte {
  display: block;
}

#compte img {
  margin: 5px auto;
  margin-right: 15px;
}

.burger {
  display: block;
}

#burg img {
  display: block;
}

#burg input {
  display: none;
}

i {
  margin: 5px auto;
  margin-left: 15px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(90, 122, 140, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  display: block;

}

.overlay-content li {
  display: flex;
  flex-direction: column;

}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #100202;
  display: block;
  transition: 0.3s;
  color: white;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 60px;
  color: white;
}

.overlay {
  display: block;
}

li {
  list-style-type: none;
}

/* HEADER */





.buttonHeader {
  display: none;
}

#logo {
  display: none;
}



.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  /* margin-left:200px; */
  /* margin-right: 150px; */
  /* width: 100%; */

}

.menu ul {

  display: flex;
  flex-direction: row;

}

#list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#list li {

  list-style-type: none;
  margin: 5px;
  margin-right: 55px;
  font-size: 0.8rem;
}

.menu ul li {
  /* display: flex; */
  /* justify-content: end; */
  list-style-type: none;
  margin: 10px;
  margin-right: 55px;

}



#btnCompte {
  display: none;

}








.menu .menu_btn {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* flex-direction:row; */


}

/* FIN HEADER */

/* BOUTON COMPTE */

.dropbtn {
  min-width: 100px;
  min-height: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 100;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.dropdown button {
  margin-bottom: 22px;
}

button.dropbtn::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(100px + 12px);
  min-height: calc(30px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button.dropbtn:hover,
.button.dropbtn:focus {
  color: #313133;
  transform: translateY(-6px);
}

button.dropbtn:hover::before,
button.dropbtn:focus::before {
  opacity: 1;
}

button.dropbtn::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button.dropbtn:hover::after,
button.dropbtn:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {

  margin-right: 15px;
  margin-top: 25px;
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.show {
  display: block;
}

/* FIN BOUTON COMPTE */



/* #vide {
  margin: 60px;
} */


/* FAVORITES */

.heartbox {
  /* position: absolute; */
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%)
}



svg {
  cursor: pointer;
  overflow: visible;
  width: 40px;
  margin-right: -25px;
  margin-bottom: -20px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked+label svg #heart {
  transform: scale(0.2);
  fill: #E2264D;
  animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1;
}






@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }

  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }

  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }

  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }

  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }

  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }

  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}


/* FIN FAVORITES */


/* CONTENT */

.content h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: column;
  text-align: center;
  color: blue;
  font-size: 2rem;
  margin-top: 30px;
  width: 100%;

}

.content {
  margin: 5%;
  /* flex: auto; */
  /* flex-flow: column; */
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  /* box-shadow: 0px 0px 75px #4f4f4f;  */
}

#img {
  margin-left: 20px;
}

#infos {
  width: 100%;
}

#infos p {
  width: 100%;
  font-size: 0.9rem;

}

#infos span {

  margin: 0 auto;
}

.content .films {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: column;
  /* align-items: stretch; */


}


.box {
  width: 100%;

}


.title {
  color: white;
  position: relative;
  bottom: 150px;
  left: 15px;
  font-size: 1rem;
  z-index: 3;
  width: 90%;
}

.voteAverageImdb {
  color: white;
  position: relative;
  bottom: 140px;
  left: 55px;
  font-size: 0.9rem;
  z-index: 3;
  width: 20%;
}

.logoAverage {
  position: relative;

  top: 2px;
  right: 80px;
  z-index: 3;
  width: 30px;
}

.genreID {

  position: relative;
  bottom: 130px;
  left: 15px;
  font-size: 1rem;
  z-index: 3;
  width: 90%;
}

.btnTrailer {
  position: relative;
  bottom: 120px;
  left: 15px;
  width: 30px;
  font-size: 1.2rem;
  z-index: 3;
  border: 1px solid orange;
  border-radius: 50px;

}

.BA {
  display: none;
  position: relative;
  /* bottom: 170px;
  left: 30px; */
  font-size: 1.2rem;
  z-index: 3;
  border: 1px solid orange;
  border-radius: 50px;

}



.content .films a {
  display: flex;
  align-items: flex-end;

}

#classement {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

}



.checked {
  color: orange;
}





#fav {
  visibility: hidden;
}

#resume {
  position: relative;
  width: 100%;
  bottom: 90px;
}

#resume p {
  width: 80%;

}


iframe {
  width:
    100%;
}

.content h3 {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  color: red;
  font-size: 1.5rem;

}

.content p {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  font-size: 1.5rem;
  border: 1px solid #e0dede;
}

.content .sortie {
  font-weight: 900;
  font-size: 1.2rem;
}

.content .product,
.real,
.acteur {
  font-size: 0.9rem;
}



.item-a {
  margin-left: -25px;
  width: 100%;
}


.content .films .actually {

  justify-content: center;

}

/* CAROUSEL */
.photos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  flex-wrap: wrap;
  /* margin: 0 auto; */

}

#wrapper {
  /* width: 100%; */

  max-width: 412px;
  position: relative;


}

#wrapper2 {
  /* width: 100%; */

  max-width: 412px;
  position: relative;


}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;

}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  background: transparent;

  outline: 0;
  cursor: pointer;
  position: relative;
}

#prev2,
#next2 {
  background: transparent;

  outline: 0;
  cursor: pointer;
  position: relative;
}


.vote {
  width: 390px;
}

.comment {
  width: 390px;


}








/* .content div {
  width: 200px;
  height: 200px;
  margin: 1rem;
  background-color: brown;

} */




#affiche {
  left: -10px;
  width: 50px;
  top: 1px;
}

#listAll {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 24);
  color: #00FFCB;

  width: 100%;
  height: 12vh;
  z-index: 2000;
}