* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

#suggestions {
    font-size: 22px;
    width: 60%;
}

#suggestions:hover {
    background-color: #00FFCB;

}

.fas {
    font-size: 1.6rem;
    color: white;
}

.bx {
    font-size: 1.6rem;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightgray;
}

#logo {
    width: 200px;
    height: 40px;
}

#btnCompte {
    height: 30px;
    width: 30px;
}

.header_main {

    background-color: rgb(34, 34, 37);
    width: 100%;
    position: fixed;
    height: 10vh;
    z-index: 10000;
    flex-basis: 70px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {


    width: 90%;
    position: fixed;
    height: 10vh;
    z-index: 100;
    flex-basis: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    color: white;
    width: 50px;
    text-align: center;
}

/* ----------------CAROUSEL AFFICHE---------------- */
.mainBody {
    width: 88%;
    height: auto;
    display: flex;


}

#prevAffiche {
    position: absolute;
    top: 400px;
    z-index: 2;
    transform: translate(50%, -50%);
    font-size: 5rem;
    cursor: pointer;
}

#nextAffiche {
    position: absolute;
    top: 400px;
    right: 130px;
    transform: translate(50%, -50%);
    z-index: 2;
    font-size: 5rem;
    cursor: pointer;
}

#wrapperAffiche {
    width: 90%;
    /* max-width: 64px; */
    position: relative;

}



#carouselAffiche {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-top: 90px;
    width: 100%;

}


#carouselAffiche::-webkit-scrollbar {
    height: 0;
}





#contentAffiche {
    display: flex;
    align-items: center;
    /* display: grid; */
    grid-gap: 5px;
    grid-auto-flow: column;
    /* margin: auto; */
    box-sizing: border-box;
    width: 90%;
    height: 100%;

}


.boxAffiche {
    width: 450px;
    border-radius: 10px;
    overflow: hidden;


}

#autoWidth.cs-hidden {
    display: flex;
    width: 100%;
    /* display: grid;
    
    grid-gap: 5px;
    grid-auto-flow: column; */
    margin: auto;
    box-sizing: border-box;

    height: 100%;


}

.slideAffiche-img {
    height: 550px;
    position: relative;

}

.slideAffiche-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;

}




/* ----------------FIN CAROUSEL AFFICHE---------------- */



/*  menu burger  */



.overlay {
    display: none;
}

.overlay a {
    display: none;
}

.burger {
    display: none;
    /* margin-right: 38px;
    cursor: pointer; */

}



.overlay-content {
    display: none;
}

#burg {
    display: none;
}

#burg img {
    display: none;
}

#burg input {
    display: none;
}


/* Fin menu burger  */
/* #logo {
    margin-left: 50px;
} */

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 400px;

    /* margin-left: 250px; */
}


.search {
    background-color: rgb(57, 57, 60);
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
    margin-right: 20px;
}

.search:focus {
    outline: 0;
    /* background-color: var(--primary-color); */

}

.search::placeholder {
    color: #adafd1;

}

/* BOUTON COMPTE */
.dropbtn {
    min-width: 100px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 100;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.dropbtnDeconnecting {
    min-width: 100px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 100;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

/* .dropdown button {
 
    margin-bottom: 22px;
    
} */

button.dropbtn::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(100px + 12px);
    min-height: calc(30px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

button.dropbtnDeconnecting::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(120px + 12px);
    min-height: calc(30px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}



button.dropbtnDeconnecting:hover::before,
button.dropbtnDeconnecting:focus::before {
    opacity: 1;
}

button.dropbtn:hover::before,
button.dropbtn:focus::before {
    opacity: 1;
}




/* FIN BOUTON COMPTE */

.main {
    flex: auto;
    display: flex;
    flex-flow: row nowrap;

}

.sidebar {
    min-width: 13%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(34, 34, 37);

}

.sidebar li {
    margin: 50px;
    display: flex;
    flex-direction: column;
    color: orange;

}

.sidebar li:hover {
    color: white;
    transition: 0.3s all linear;
    transform: scale(1.1);
}

.sidebar ul {
    position: fixed;
    margin-top: 12%;
}



.sidebar a {
    text-decoration: none;
}

.sidebar .fas {
    font-size: 1.6rem;

}

.sidebar .bx {
    font-size: 1.6rem;

}

.sidebar i {
    margin-left: 22px;
}




.mainContent {
    background-color: rgb(34, 34, 37);

    display: flex;

    align-content: flex-start;
    flex-direction: column;
    width: 90%;


}



/* CAROUSEL */
.photos {
    display: flex;
    flex-direction: column;


}

#wrapper,
#wrapper2,
#wrapper3,
#wrapper4,
#wrapper5,
#wrapper6,
#wrapper7,
#wrapperDisneyPlusTV,
#wrapperDisneyMovie,
#wrapperAPM,
#wrapperAPTV,
#wrapperCanalMovie,
#wrapperCanalTV,
#wrapperCanalSTV {
    width: 90%;
    /* max-width: 1364px; */
    position: relative;


}



#carousel,
#carousel2,
#carousel3,
#carousel4,
#carousel5,
#carousel6,
#carousel7,
#carouselDisneyPlusTV,
#carouselDisneyMovie,
#carouselAPM,
#carouselAPTV,
#carouselCanalMovie,
#carouselCanalTV,
#carouselCanalSTV {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* margin-left: 100px; */
    width: 100%;

}


#carousel::-webkit-scrollbar,
#carousel2::-webkit-scrollbar,
#carousel3::-webkit-scrollbar,
#carousel4::-webkit-scrollbar,
#carousel5::-webkit-scrollbar,
#carousel6::-webkit-scrollbar,
#carousel7::-webkit-scrollbar,
#carouselDisneyPlusTV::-webkit-scrollbar,
#carouselDisneyMovie::-webkit-scrollbar,
#carouselAPM::-webkit-scrollbar,
#carouselAPTV::-webkit-scrollbar,
#carouselCanalTV::-webkit-scrollbar,
#carouselCanalMovie::-webkit-scrollbar,
#carouselCanalSTV::-webkit-scrollbar {
    height: 0;
}





#content,
#content2,
#content3,
#content4,
#content5,
#content6,
#content7,
#contentDisneyPlusTV,
#contentDisneyMovie,
#contentAPM,
#contentAPTV,
#contentCanalTV,
#contentCanalMovie,
#contentCanalSTV {
    display: flex;
    align-items: center;
    /* display: grid; */
    grid-gap: 5px;
    grid-auto-flow: column;
    /* margin: auto; */
    box-sizing: border-box;
    width: 90%;
    height: 100%;

}


.item {
    width: 300px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

/* TOP 10 */


/* #slider-text {
  display: flex;
  flex-wrap: wrap;
} */

/* #slider-text .col-md-6 {
    overflow: hidden;
} */

#slider-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 20px;
    padding-left: 10px;


    color: orange;
    width: 88.5%;

}

.titleSwiper {
    display: flex;
    justify-content: space-between;
}

#slider-text i {
    /* position: static !important;
    margin: 0 0 0 10px !important; */
}


/* #slider-text h2::after {
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom:630px;
    width: 20%;
} */


.box {
    width: 250px;


    border-radius: 10px;
    overflow: hidden;

    margin: 10px;

}

.boxDisneyMovie {
    width: 550px;


    border-radius: 10px;
    overflow: hidden;

    margin: 10px;

}

.boxTopRatedTV {
    width: 550px;


    border-radius: 10px;
    overflow: hidden;

    margin: 10px;

}

.boxAPTV {
    width: 550px;


    border-radius: 10px;
    overflow: hidden;

    margin: 10px;

}

.boxCanalSTV {
    width: 550px;


    border-radius: 10px;
    overflow: hidden;

    margin: 10px;

}


#autoWidth.cs-hidden {
    display: flex;
    width: 100%;
    /* display: grid;
    
    grid-gap: 5px;
    grid-auto-flow: column; */
    margin: auto;
    box-sizing: border-box;
    /* width: 100%; */
    height: 100%;


}

.slide-img {
    height: 350px;
    position: relative;

}

/* div {
    background-image: url("https://image.tmdb.org/t/p/w500/odJ4hx6g6vBt4lBWKFD1tI8WS4x.jpg");
    width: 400px;
    height: 200px;
    background-size: contain;
    box-shadow: inset 30px 0 100px 50px #000000;
} */

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;


}

/* div {
    background-image: url("https://www.dailydot.com/wp-content/uploads/2018/04/pattern-2048x1024.jpg");
    width: 400px;
    height: 200px;
    background-size: contain;
    box-shadow: inset 30px 30px 100px 10px #000000;
} */


.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;




}

.type {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}




.type a {
    color: white;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;


}



.type span {
    color: rgba(26, 26, 26, 0.5);
}

/* .price {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
} */

.overlaySlider {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(56, 119, 145, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.overlaySliderAffiche {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(56, 119, 145, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}



.seeMore {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
}

.seeMore:hover {
    color: white;
    background-color: palevioletred;
    transition: all ease 0.3s;
}

/* .loveAffiche-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
}

.loveAffiche-btn:hover {
    color: white;
    background-color: palevioletred;
    transition: all ease 0.3s;
} */

.overlaySlider {
    visibility: hidden;
}

.overlaySliderAffiche {
    visibility: hidden;
}

.slide-img:hover .overlaySlider {
    visibility: visible;
    animation: fade 0.5s;
}

.slideAffiche-img:hover .overlaySliderAffiche {
    visibility: visible;
    animation: fade 0.5s;
}

.swiper {
    display: flex;

}

.swiper-next,
.swiper-prev {
    position: static !important;
    margin: 0 0 0 10px !important;
}

.swiper-next::after,
.swiper-prev::after {
    color: white;
    font-size: 18 px !important;
    font-weight: 700;
}

.swipeButton {
    /* display: none; */
}





@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* FIN TOP 10 */


@media (max-width=500px) {
    .sidebar {
        display: none;
    }
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 24);
    color: #00FFCB;

    width: 100%;
    height: 12vh;

}