* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: none;
}

.video i {
  position: relative;
  left: 15px;
  bottom: -15px;
}

.searchBar {
  position: relative;
  top: 20px;
}

.header_main {
  display: block;
  background-color: rgb(34, 34, 37);
  width: 100%;
  position: fixed;
  z-index: 100;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: none;
}

#logo {
  display: none;
}

i {
  color: black;
}

#btnCompte {
  display: block;
}

.main {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  width: 100%;
}

.box {
  width: 100%;
}

.btnSearch {
  left: 190px;
  top: -15px;
  width: 10px;
}

.burger .fas {
  color: orange;
}

.burger i {
  color: white;
}

.overlay i {
  color: white;
  margin: 0 auto;
}

#burg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
}


#compte {
  display: block;
}

#compte img {
  margin: 5px auto;
  margin-right: 15px;
}

.burger {

  display: none;
}

#burg img {
  display: block;
}

#burg input {
  display: block;
}

i {
  margin: 5px auto;
}

.overlay {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 90%);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  display: block;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #100202;
  display: block;
  transition: 0.3s;
  color: white;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 60px;
  color: white;
}

.overlayVideo-content {
  margin-left: 0;
  margin-top: 60px;
}

#video-content {
  align-items: center;
}

.overlayVideo .closebtnVideo {
  position: absolute;
  top: 280px;
  left: 5px;
  font-size: 60px;
  color: white;
  z-index: 20;
}

iframe {
  width: 1235px;
  height: 350px;
  box-shadow: 0 0 280px 280px #000000;
}

li {
  list-style-type: none;
}

/* // fin du menu burger */
.mainBody {
  width: 100%;
}

.titleSwiperAffiche {
  display: none;
}

#wrapper,
#wrapper2,
#wrapper3,
#wrapper4,
#wrapper5,
#wrapper6,
#wrapper7 {
  width: 100%;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
}

#prev,
#next,
#prev2,
#next2,
#prev3,
#next3,
#prev4,
#next4,
#prev5,
#next5,
#prev6,
#next6,
#prev7,
#next7 {
  display: none;
}

.sidebar {
  display: none;
}

#menu li {
  left: 0;
}

.nav_sidebar {
  left: -10px;
  top: 20px;
}

.mainContent {
  margin-top: 0;
}

.boxPoster {

  bottom: 988px;

}